* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #19181F;
}

.movies{
  max-width: 1440px;
  margin: 40px auto;
  border-radius: 4px;
  padding: 32px;
}

.movies img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0px 4px 24px 3px rgba(50, 252, 252, 0.43);
  box-shadow: 0px 4px 24px 3px rgba(92, 163, 163, 0.43);
  border-radius: 10px;
}

.movies img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .3s;
  transition: 3s;
}

.movies__title {
  margin-top: 15px;
  color: #FFF;
  margin-left: 5px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 20px;
}

.movies__year {
  color: #FFF;
  margin-left: 5px;
  font-weight: 300;
  font-size: 20px;
}

.movies button {
  margin: 20px auto;
  background-color: #cebfbf;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 300;
  border-radius: 6px;
}

.movie-details {
  max-width: 1440px;
  margin: 40px auto;
  padding: 32px;
}

.movie-details img {
    -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0px 4px 24px 3px rgba(50, 252, 252, 0.43);
  box-shadow: 0px 4px 24px 3px rgba(92, 163, 163, 0.43);
  border-radius: 10px;
}

.movie-details__all__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
}

.movie-details__all__year {
  font-weight: 300;
  font-size: 27px;
  line-height: 37px;
}

.movie-details__all__genre {
  font-weight: 300;
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 30px;
}

.movie-details button{
  margin: 20px;
  background-color: #cebfbf;
  padding: 10px 22px;
  border-radius: 5px;
}